.projects .project-content {
  border-radius: 30px 30px 0px 0px;
}

.projects .project-list {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3.125rem;
}

.projects .sytycc-project-card {
  overflow: hidden;
  box-shadow: 1px 12px 30px rgba(0, 0, 0, 0.15);
}

.projects .sytycc-project-card img {
  object-fit: cover;
  object-position: center top;
}

.sytycc-project-card .card-body {
  gap: 0 0.625rem;
}

@media only screen and (min-width: 600px) {
  .sytycc-project-card .card-body {
    padding: 1.5em 1.875em;
  }
}