@tailwind components;

@layer components {

  #footer {
    padding: 6.25em 0 3.75em;
  }

  #footer .footer-brand {
    margin-bottom: 3.125em;
  }

  #footer .footer-content {
    grid-template-columns: 1fr;
    gap: 4rem 0;
  }

  #footer .footer-nav-list {
    list-style: none;
  }

  #footer .subnav-list-container a {
    font-size: var(--h5);
    line-height: var(--sl-line-height);
    display: inline-block;
    text-decoration: none;
    text-transform: capitalize;
    color: #ffffff;
  }

  #footer .footer-nav-list li {
    margin-top: 1rem;
  }

  #footer .footer-nav-list li:first-child {
    margin-top: 0;
  }

  #footer .footer-left .footer-nav-link.active {
    color: theme('colors.gray.300');
  }

  #footer .social-media-list {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 1.5rem 2.5rem;
    list-style: none;
  }

  .footer-right > div:first-child a {
    text-decoration: none;
  }

  .footer-right > div:first-child a:first-child {
    margin-bottom: 1.25rem;
    color: #ffffff;
  }

  .footer-right > div:first-child a:nth-child(2) {
    margin-bottom: 1.875rem;
    color: var(--accent-color);
  }

  @media only screen and (min-width: 720px) {
    #footer .footer-content {
      grid-template-columns: auto 1fr;
    }
  }
}